
body{
    text-align: center;
    background-color:rgb(188, 237, 162);
}
header{
    background-color: rgb(63, 208, 230);
    color:white;
    padding: 20px;

}
nav ul li{
    display: inline;
}
nav ul li a{
    padding: 3px;
    color:white;
    font-size: 20px;
    text-decoration: none;
}
#Education p{
    margin-right: 100px;
    margin-left: 100px;
}
#Certifications{
    background-color: rgb(212, 198, 178);
    padding: 20px;
}
#Certifications p{
    text-align:left;
}
li{
    display:inline-table;
    padding: 10px;
}
#Contact {
    background-color:rgb(100, 237, 182);
    padding:auto;
}
footer{
    background-color: black;
    color:azure;
    padding: 30px;
}

