body{
    text-align: center;
}
header{
    background-color: rgb(214, 108, 66);
    color:white;
    padding: 20px;

}
nav ul li{
    display: inline;
}
nav ul li a{
    padding: 20px;
    color:blanchedalmond;
    font-size: 20px;
    text-decoration: none;
}
#Education p{
    margin-right: 100px;
    margin-left: 100px;
}
#Certifications{
    background-color: blanchedalmond;
    padding: 20px;
}
li{
    display: inline;
    padding: 10px;
}
#Contact {
    background-color:rgb(100, 237, 203);
    padding: auto;
}

footer{
    background-color: black;
    color:azure;
    padding: 30px;
}
